@media only screen and (min-width: 1025px){
    .menu{
        position: fixed;
        width: 50px;
        height: 50px;
        font-size: 30px;
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        cursor: pointer;
        background-color: var(--color-boton);
        color: var(--color-boton-texto);
        right: 15px;
        top: 15px;
        z-index: 100;
    }
    .contenido{ 
        display: flex;
        width: 100%;
        padding: 4% 2%;
        height: 100vh;
    }
    .contenido .span{
        color: aliceblue;
    }
    #main{
        margin-left: 250px;
        padding: 20px;
        transition: margin-left 0.5s ease ;

        #contenedor-bienvenidos{
            #div-bienvenidos{

                h2{
                    font-size: 35px;
                }
                p{
                    font-size: 25px;
                }
                .bienvenidos-img{
                    width: 600px;
                    height: 600px;
                }
                
            }
        }
        .contenedor-C{
                .container{
                    width: 78%;
                    height: 700px;
                    transform: translate(-39%, -39%);
                    .slide{
                        .item{
                            width: 250px;
                            height: 400px;
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                            border-radius: 20px;  
                            .content{
                                top: 50%;
                                left: 100px;
                                width: 300px;
                                text-align: left;
                                color: var(--color-linea);
                                transform: translate(0, -50%);
                                .name{
                                    font-size: 30px;
            
                                }
                                .des{
                                    font-size: 20px;
                                }
                            }
                        }
                        .item:nth-child(1){
                            top: 0;
                            left: 0;
                            transform: translate(0, 0);
                            border-radius: 0;
                            width: 100%;
                            height: 100%;
                        }
                        .item:nth-child(2){
                            left: 65%;
                        }
                        .item:nth-child(2) .content{
                            display: none;
                        }
                        }
                    }
                    
                }
        .contenedor-B{
            #carouselExample{
                .carousel-inner{
                    .carousel-item{
                        .d-block{
                            height: 900px;
                            width: 300px;
                        }
                    }
                }
            }
        }
    
    }
    #main.min-main {
        margin-left: 80px;
        .contenedor-C{
            .container{
                transform: translate(-47%, -44%);
                width: 90%;
                height: 700px;
            }
    }    
    }
    .contenedor-B{
        display: block;
        .primer-parrafo{
            div{
                .img2{
                    width: 600px;
                    height: 300px;
                    transform: translate(5%, 5%);
                }
            }
            p{
               // background-color: red;
                font-size: 20px;
                padding: 1rem;
                margin: 0.5rem;
                width: auto;
               }
        }
        .segundo-parrofo{
            div{
                div{
                    .img2{
                        width: 250px;
                        height: 174px;
                        transform: translate(0, 5%);
                    }
                }
    
            }
            p{
               // background-color: red;
                font-size: 20px;
                padding: 1rem;
                margin: 0.5rem;
                width: auto;
               }
        }
        
    }
    footer{
        height: 100px;
    }
    }
    
    
    