/*------------------Banner Principal*/
.banner{
   // background-image: url(/imagenes/banner2.jpg);
    text-align: start;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
//    color: var(--color-texto-general);
    padding:25px;
//    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    div{
        p{
            color: #fff;
            font-size: 20px;
            text-shadow: 2px 2px 0px #000;
        }
        .tutulo-banner{
            font-size: 30px;
            @extend p
        }
    }
}

