:root{
    --color-barra-lateral:rgb(27, 27, 27);
    --color-texto: rgb(193, 187, 187);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover: rgb(238,238,238);
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton: rgb(101, 101, 101);
    --color-boton-texto:rgb(255,255,255);

    --color-linea: rgb(241,241,241);

    --color-box: rgba(0,0,0,.1);

    --color-scroll:rgb(241,241,241);
    --color-scroll-hover:rgb(134,134,134);

    --color-texto-general: rgb(28,31,48);

}   
   